PORT= # Puerto en el que deseas iniciar la aplicación
DB_HOST= # Host de la base de datos. Localhost en el caso de tu computadora
DB_PORT= # Puerto del servidor de la base de datos. 5432 si mantienes la configuración de postgres por defecto
DB_USER= # Usuario de la base de datos. Por defecto, postgres
DB_PASSWORD= # Contraseña del usuario de la base de datos
DB_NAME= # Nombre que le has dado a tu base de datos
JWT_SECRET= # Clave secreta para la generación de tokens JWT. Puede ser cualquier palabra que desees